    <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <!-- Brand/logo -->
            <!--<a class="navbar-brand" href="#">
              <img src="" alt="logo" >
            </a>-->
            <!-- Links -->
            <div class="navbar-nav mr-auto">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href ="/products.php"> Products </a>
                    </li>
                    <!--<li class="nav-item ">
                        <a class="nav-link" href ="/products.php"> Products </a>
                    </li>-->
                    
                    
                    
                </ul>
            </div>
        </nav> 
